body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 100px;
    padding: 10px;
    box-sizing: border-box;
}

.profile-picture {
    text-align: center;
    margin-top: 1px;
}

.profile-picture img {
    width: 500px; 
    height: 500px; 
    border-radius: 70%; 
    border: 5px solid #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

.about-me,
.work-experience,
education,
.projects,
skills {
    padding: 2em 0;
}

ul {
    list-style: none;
    padding: 0;
}

.project {
    margin-bottom: 1.5em;
}

.project a {
    display: inline-block;
    margin-top: 0.5em;
}

.project a img {
    width: 30px; /* Adjust the size as needed */
    height: auto;
    margin-right: 0.5em; /* Add some spacing to the right */
}

.line {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 1em auto;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}
