body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    padding: 50px;
    box-sizing: border-box;
    font-size: 16px;
    text-wrap: wrap;
}

.profile-picture {
    margin-top: 1px;
    font-weight: 800;
    font-family: sans-serif;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    border: 1px solid #fff;
    margin-bottom: 15px;
}

.profile-picture h1 {
    color: black;
    font-weight: 800;
    font-family: sans-serif;
    padding-left: 20px ;
}

.location,
.email,
.phone,
.social {
    display: flex;
    align-items: center;
}

.location i,
.email i,
.phone i,
.social i {
    margin-right: 20px;
    color:  #ff3333;
}

header {
    color: black;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-items: auto;
}

.about-me,
.work-experience {
    overflow: hidden;
    padding: 1em 0;
}

.container {
    margin-left: 20px;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
}

.date {
    float: right;
    color: rgb(156, 139, 139);
}

/* .education,
.projects,
.skills {
    padding: 1em 0;
} */

ul {
    list-style: none;
    padding: 0;
}

.project {
    margin-bottom: 1.5em;
    align-items: center;
}

.project a {
    margin-top: 1em;
    align-items: center;
    display: flex;
}

.project a img {
    width: 30px;
    height: auto;
    margin-right: 0.5em;
    align-items: center;
    display: flex; 
    align-items: center;
    text-align: center;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 1em auto;
}

footer {
    color: black;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}